# Database
DATABASE_URL=postgresql://user:pass@localhost:5432/beyond_qurban

# Auth
NEXTAUTH_SECRET=generate-dengan-openssl-rand-base64-32
NEXTAUTH_URL=http://localhost:3000

# Tripay
TRIPAY_API_KEY=
TRIPAY_PRIVATE_KEY=
TRIPAY_MERCHANT_CODE=
TRIPAY_MODE=sandbox

# OneSender
ONESENDER_API_KEY=
ONESENDER_SENDER_NUMBER=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
